:root {
  --darker-grayish-blue: hsl(217, 19%, 35%);
  --dark-desaturated-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 100%, 100%);
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.ttf");
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Manrope-Medium";
  font-size: 13px;
  background-color: var(--light-grayish-blue);
  color: var(--darker-grayish-blue);
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

h3{
  font-size: 1.5em;
  font-family: "Manrope-Bold";
}

h4{
  font-size: 1.1em;
}

p{
  font-size: 1em;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 1rem;
}

.card__header {
  width: 100%;
  height: 200px;
  background-image: url("../images/drawers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}

.card__body {
  padding: 3.5rem 2.5rem;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: transparent;
}

figure {
  display: flex;
  align-items: center;
  margin: 0;
}

figcaption p {
  margin: 0;
}
figcaption p:nth-child(2) {
  padding-top: 0.2rem;
}

.avatar {
  border-radius: 6rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-desaturated-blue);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-color: var(--darker-grayish-blue);

}


.social img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.5rem;
}

.social{
  z-index: 99;
  position: absolute;

}

.hide{
  display: none;
}

.btn-share {
  background-color: var(--light-grayish-blue);
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem;
  cursor: pointer;
}

@media only screen and (min-width: 80em) {

  .hide{
    display: none;
  }
  

  .card__header {
    height: auto;
    border-radius: 1rem 0 0 1rem;
  }

  .card {
    display: flex;
    position: absolute;
  }


  .social {
    position: absolute;
    top: 55%;
    right: -8%;
    z-index: 99;
    border-radius: 0.5rem;
    padding: 0.1rem 2.5rem;
    color: var(--dark-desaturated-blue);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background-color: var(--darker-grayish-blue);

  }

  .social::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 65%;
    margin-left: -60px;
    width: 0;
    height: 0;
    border-top: solid 15px var(--darker-grayish-blue);;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }
}
