:root {
  /*Primary*/
  --white: hsl(0, 100%, 100%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /*Neutral*/

  --darker-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --darker-light-gray: hsl(0, 0%, 98%);
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  font-family: "Poppins-Regular";
  color: var(--grayish-blue);
  line-height: 1.3;
  background-color: var(--darker-light-gray);
}

h3 {
  font-size: 1em;
}

.container {
  height: 100vh;
}

.container__header {
  text-align: center;
}

.title {
  font-family: "Poppins-SemiBold";
  font-size: 1.5em;
  margin-top: 0;
}

.sub-title {
  font-family: "Poppins-ExtraLight";
  font-size: 1.5em;
  margin-bottom: 0;
}

.title,
.sub-title {
  color: var(--darker-blue);
}

.container__body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card {
  max-width: 20rem;
  padding: 1rem;
  background-color: var(--white);
  margin: 2rem auto;
 
}

.card__content {
}

.card__footer {
}

@media;
